Repository bufbuild/protoc-gen-validate, pull requests merged in 2019-08, with the labels that each got.

#252 Add missing go_package for gogoproto
  gogoproto/gogo.proto
Labels: GoGo

#258 Clean up Bazel build
  WORKSPACE
  bazel/dependency_imports.bzl
  bazel/pip_dependencies.bzl
  bazel/repositories.bzl
  tests/harness/python/BUILD
Labels: Bazel

#260 undef conflicting symbols on windows
  validate/validate.h
Labels: Bug, C++

#256 implement utf-8 length for c++ validation
  .gitignore
  rule_comparison.md
  templates/cc/msg.go
  templates/cc/register.go
  templates/cc/string.go
  validate/validate.h
Labels: C++, Enhancement

#263 Update Python Interface
  tests/harness/python/harness.py
  validate/validator.py
Labels: Python
